<ng-template #innerTemplate> <ng-content></ng-content> </ng-template>

<ng-container *ngIf="isExternal; else internalBlock">
  <a
    [class.caret]="caret === 'right'"
    [class.left-caret]="caret === 'left'"
    [class.bolder-underline]="bolderUnderline"
    [class.weight-400]="fontWeight === 400"
    [class.weight-600]="fontWeight === 600"
    [class.weight-700]="fontWeight === 700"
    [class.minor]="isMinor"
    [target]="target"
    [href]="link"
    #ref
  >
    <ng-container *ngTemplateOutlet="innerTemplate"></ng-container>
  </a>
</ng-container>

<ng-template #internalBlock>
  <a
    [class.caret]="caret === 'right'"
    [class.left-caret]="caret === 'left'"
    [class.minor]="isMinor"
    [class.bolder-underline]="bolderUnderline"
    [class.weight-400]="fontWeight === 400"
    [class.weight-600]="fontWeight === 600"
    [class.weight-700]="fontWeight === 700"
    [target]="target"
    [routerLink]="link"
    #ref
  >
    <ng-container *ngTemplateOutlet="innerTemplate"></ng-container>
  </a>
</ng-template>
