@import "../../../styles/colors";

a {
  text-decoration: none;
  color: $color-deep-cerulean;
  text-decoration: none;
  transition: color 0.2s, box-shadow 0.4s;
  box-shadow: 0 0 0 0 $color-deep-cerulean;

  &:hover {
    color: darken($color-deep-cerulean, 10%);
  }
}

.minor {
  color: $color-gothic;
  font-size: 12px;
  box-shadow: 0 1px 0 0 $color-gothic;

  &:hover {
    box-shadow: 0 1px 0 0 darken($color-deep-cerulean, 10%);
  }
}

.caret:after,
.left-caret:before {
    position: relative;
    left: 0;
    transition: left 0.2s;
}

.caret {
  &:after {
    content: '\203a';
    padding-left: 5px;
    padding-right: 1px;
  }

  &:hover:after {
    left: 3px;
  }
}

.left-caret {
  &:before {
    content: '\2039\00a0';
    padding-right: 5px;
    padding-left: 1px;
  }

  &:hover:before {
    left: -3px;
  }
}

.weight-400 {
  font-weight: 400;
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

.bolder-underline {
  box-shadow: 0 2px 0 0 $color-deep-cerulean;

  &:hover {
    box-shadow: 0 2px 0 0 darken($color-deep-cerulean, 10%);
  }
}

:not(.bolder-underline) {
  box-shadow: 0 1px 0 0 $color-deep-cerulean;

  &:hover {
    box-shadow: 0 1px 0 0 darken($color-deep-cerulean, 10%);
  }
}
