<ns-action-bar-container></ns-action-bar-container>
<DockLayout stretchLastChild="true">
  <FlexboxLayout
    dock="bottom"
    class="auth-actions"
    flexDirection="row"
    justifyContent="flex-end"
  >
    <button
      [class.submit-button]="fileName"
      *ngIf="fileName"
      [disabled]="hasStartedSaving || hasFinishedSaving"
      (tap)="onSubmit()"
      text="Import Selected Passwords"
    ></button>
  </FlexboxLayout>
  <StackLayout class="auth-form-body">
    <StackLayout>
      <StackLayout class="m-b-30">
        <app-heading text="Import Passwords"></app-heading>
      </StackLayout>

      <label
        class="text-label m-b-10"
        text="Passit can currently import CSV files and will pull data from the following columns:"
        textWrap="true"
      ></label>
      <label
        class="text-label m-b-10"
        text="url, username, password, name, extra."
        textWrap="true"
      ></label>
      <label
        class="text-label m-b-20"
        text="Extra refers to notes."
        textWrap="true"
      ></label>

      <FlexboxLayout
        class="m-b-20"
        flexDirection="row"
        alignItems="flex-start"
        justifyContent="space-between"
      >
        <StackLayout>
          <label
            class="text-label m-b-5 m-t-2"
            text="Preview Import"
            textWrap="true"
          ></label>
        </StackLayout>
        <Switch
          #sw
          checked="true"
          (checkedChange)="onChecked(sw.checked)"
          class="app-switch"
        ></Switch>
      </FlexboxLayout>
    </StackLayout>

    <button
      [class.submit-button]="!fileName"
      #fileInput
      [text]="!fileName ? 'Choose a CSV file' : 'Choose a different file'"
      (tap)="selectCSV()"
    ></button>

    <progress-indicator
      [inProgress]="hasStartedSaving"
      inProgressText="Importing"
      [completed]="hasFinishedSaving"
      completedText="Imported"
    ></progress-indicator>

    <label *ngIf="finishedSavingMessage" [text]="finishedSavingMessage"></label>
    <StackLayout *ngIf="fileName && !finishedSavingMessage">
      <label *ngIf="hasFinishedSaving" text="Successfully imported"></label>
      <label
        *ngIf="!hasStartedSaving && !hasFinishedSaving && autoPreview"
        [text]="'Previewing ' + '&ldquo;' + fileName + '&rdquo;'"
      ></label>
      <label
        *ngIf="!hasStartedSaving && !hasFinishedSaving && !autoPreview"
        text="Ready to import"
      ></label>
    </StackLayout>

    <ScrollView *ngIf="autoPreview && fileName" orientation="horizontal">
      <ListView
        [items]="secrets"
        class="list-group"
        [itemTemplateSelector]="templateSelector"
      >
        <ng-template nsTemplateKey="header" let-header="item">
          <GridLayout
            columns="50, 150, 150, 150, 150, 150"
            class="list-group-item"
          >
            <ns-checkbox
              col="0"
              [checked]="toggleAllState"
              (tap)="toggleAll()"
            ></ns-checkbox>
            <ng-container
              *ngFor="let headerItem of previewHeader; let i = index"
            >
              <Label [col]="i + 1" [text]="headerItem"></Label>
            </ng-container>
          </GridLayout>
        </ng-template>

        <ng-template nsTemplateKey="cell" let-secret="item" let-i="index">
          <GridLayout
            columns="50, 150, 150, 150, 150, 150"
            class="list-group-item"
          >
            <ns-checkbox
              col="0"
              [checked]="secret.doImport"
              (tap)="toggleImport(i)"
            ></ns-checkbox>
            <Label col="1" [text]="secret.name"></Label>
            <Label col="2" [text]="secret.visible_data.username"></Label>
            <Label col="3" [text]="secret.visible_data.url"></Label>
            <Label col="4" [text]="secret.secrets.password"></Label>
            <Label col="5" [text]="secret.secrets.notes"></Label>
          </GridLayout>
        </ng-template>
      </ListView>
    </ScrollView>
  </StackLayout>
</DockLayout>
