.text {
  &--large {
    margin-bottom: 40px;
    font-size: 1.2em;
    line-height: 1.4;
  }

  &--less-bottom-margin {
    margin-bottom: 20px;
  }
  
  &--no-bottom-margin {
    margin-bottom: 0;
  }
}
