<DockLayout
  *ngIf="stageValue !== stages.ConfirmEmail && stageValue !== stages.Verified"
  stretchLastChild="true"
>
  <StackLayout dock="bottom" class="auth-actions">
    <Label
      *ngIf="!showUrl && stageValue === stages.Email"
      (tap)="displayUrl()"
      textWrap="true"
      class="text-label text-label--light m-b-15"
    >
      <FormattedString>
        <Span text="You are signing up for Passit at "></Span>
        <Span [text]="urlDisplayName" class="font-weight-bold"></Span>
        <Span
          text=". Access the website in your web browser as well as the app."
        ></Span>
      </FormattedString>
    </Label>

    <FlexboxLayout
      *ngIf="!showUrl"
      flexDirection="row"
      alignItems="center"
      [justifyContent]="
        stageValue === stages.Email ? 'space-between' : 'flex-end'
      "
    >
      <app-button
        *ngIf="stageValue === stages.Email"
        type="text"
        text="Change Server"
        (tap)="displayUrl()"
      ></app-button>
      <app-button width="100" text="Next" (tap)="submit()"></app-button>
    </FlexboxLayout>

    <FlexboxLayout
      *ngIf="showUrl"
      flexDirection="row"
      alignItems="center"
      justifyContent="flex-end"
    >
      <app-button
        width="100"
        type="text"
        text="Cancel"
        (tap)="hideUrl()"
      ></app-button>
      <app-button width="100" text="Save" (tap)="urlSubmit()"></app-button>
    </FlexboxLayout>
  </StackLayout>

  <ScrollView #registerScrollView>
    <StackLayout class="auth-form-body">
      <FlexboxLayout
        flexDirection="row"
        alignItems="center"
        justifyContent="space-between"
        class="auth-header"
      >
        <app-heading
          [text]="showUrl ? 'Enter a Passit Server' : 'Sign Up'"
        ></app-heading>
        <app-button
          *ngIf="!showUrl && stageValue === stages.Email"
          height="36"
          text="Log in"
          type="border"
          (tap)="goToLoginWith()"
        ></app-button>
      </FlexboxLayout>

      <StackLayout *ngIf="showUrl">
        <app-text-field
          autocorrect="false"
          autocapitalizationType="none"
          label="Server"
          type="url"
          returnKeyType="done"
          hint="app.passit.io"
          [isFormSubmitted]="urlForm.isSubmitted"
          [ngrxFormControl]="urlForm.controls.url"
          (returnPress)="urlSubmit()"
        ></app-text-field>
        <Label
          *ngIf="!isUrlValid && urlForm.isSubmitted"
          class="text-label m-b-10 text-label--error"
          textWrap="true"
          text="The URL you entered is not a valid Passit server."
        ></Label>
        <Label
          class="text-label m-b-10"
          textWrap="true"
          text="If you’re signing up with your company or you’re self-hosting, enter a valid Passit server URL here, e.g. passit.mycompany.com."
        ></Label>
        <Label
          class="text-label"
          textWrap="true"
          text="If you’re not sure, then keep app.passit.io."
        ></Label>
      </StackLayout>

      <StackLayout *ngIf="!showUrl && stageValue === stages.Email">
        <app-text-field
          #emailInput
          autocorrect="false"
          autocapitalizationType="none"
          label="Email"
          type="email"
          returnKeyType="done"
          [isFormSubmitted]="form.isSubmitted"
          [editable]="stageValue === stages.Email"
          [ngrxFormControl]="form.controls.email"
          [extraValidations]="!isEmailTaken"
          (returnPress)="submit()"
        ></app-text-field>

        <!-- TODO turn this into a label text component -->
        <StackLayout *ngIf="form.isUnsubmitted">
          <Label
            *ngIf="!form.controls.email.isValid"
            class="text-label"
            text="Your email address is your unique username. We don't share it with others."
            textWrap="true"
          ></Label>
        </StackLayout>
        <StackLayout *ngIf="form.isSubmitted">
          <Label
            *ngIf="isEmailTaken"
            class="text-label text-label--error"
            text="There is already an account registered with this email address."
            textWrap="true"
          ></Label>
          <Label
            *ngIf="form.errors._email"
            class="text-label text-label--error"
            text="Enter a valid email address."
            textWrap="true"
          ></Label>
        </StackLayout>
        <StackLayout *ngIf="form.controls.email.isValid && !isEmailTaken">
          <Label
            class="text-label"
            text="Looks good to us! Make sure it’s correct, then press &ldquo;Next&rdquo; to go to the next step."
            textWrap="true"
          ></Label>
        </StackLayout>

        <progress-indicator
          [inProgress]="hasSubmitStarted"
          inProgressText="Verifying"
          [completed]="hasSubmitFinished"
        ></progress-indicator>
      </StackLayout>

      <StackLayout *ngIf="stageValue === stages.Password">
        <app-text-field
          #passwordInput
          label="Password"
          returnKeyType="next"
          type="password"
          [isFormSubmitted]="form.isSubmitted"
          [editable]="stageValue === stages.Password"
          [ngrxFormControl]="form.controls.password"
          (returnPress)="submit()"
        ></app-text-field>

        <StackLayout
          *ngIf="form.controls.password.isInvalid && form.isSubmitted"
        >
          <Label
            *ngIf="form.errors._password.required"
            class="text-label text-label--error m-b-10"
            text="Enter a password for your account."
            textWrap="true"
          ></Label>
        </StackLayout>
        <Label
          *ngIf="passwordLengthHintText"
          class="text-label m-b-10"
          textWrap="true"
          [formattedText]="passwordLengthHintText"
        ></Label>
        <StackLayout
          *ngIf="
            form.controls.password.isInvalid && form.value.password.length >= 10
          "
        >
          <Label
            *ngIf="form.errors._password.hasUniqueChars"
            class="text-label text-label--error m-b-10"
            text="Password must have more than 5 unique characters."
            textWrap="true"
          ></Label>
          <Label
            *ngIf="form.errors._password.notNumeric"
            class="text-label text-label--error m-b-10"
            text="Password must not be only numbers."
            textWrap="true"
          ></Label>
          <Label
            *ngIf="form.errors._password.notEqualTo"
            class="text-label text-label--error m-b-10"
            text="Password must not be email address."
            textWrap="true"
          ></Label>
        </StackLayout>
        <Label
          *ngIf="form.controls.password.isInvalid"
          class="text-label"
          textWrap="true"
        >
          <FormattedString>
            <Span text="A good password is also "></Span>
            <Span text="unique, memorable," class="font-weight-bold"></Span>
            <Span text=" and "></Span>
            <Span text="impersonal." class="font-weight-bold"></Span>
          </FormattedString>
        </Label>
        <Label
          *ngIf="
            !form.errors._password &&
            !form.value.passwordConfirm &&
            form.value.showConfirm
          "
          class="text-label"
          textWrap="true"
          text="Good! Now click the eye icon or retype your password below to confirm what you entered."
        ></Label>
        <Label
          *ngIf="!form.errors._password && !form.value.showConfirm"
          class="text-label"
          textWrap="true"
          text="Remember, Passit cannot reset a forgotten password. Consider writing it down and storing it somewhere safe."
        ></Label>

        <StackLayout *ngIf="form.value.showConfirm" class="m-t-20">
          <app-text-field
            label="Confirm Password"
            returnKeyType="done"
            type="password"
            [isFormSubmitted]="form.isSubmitted"
            [ngrxFormControl]="form.controls.passwordConfirm"
            (returnPress)="submit()"
          ></app-text-field>

          <StackLayout *ngIf="form.controls.passwordConfirm.isValid">
            <Label
              class="text-label m-b-10"
              text="That’s a match! Press &ldquo;Next&rdquo; to continue."
              textWrap="true"
            ></Label>
            <Label
              class="text-label"
              text="Remember, Passit cannot reset a forgotten password. Consider writing it down and storing it somewhere&nbsp;safe."
              textWrap="true"
            ></Label>
          </StackLayout>
          <StackLayout
            *ngIf="
              form.errors._passwordConfirm &&
              form.value.showConfirm &&
              (form.value.passwordConfirm.length >=
                form.value.password.length ||
                form.isSubmitted)
            "
          >
            <Label
              *ngIf="form.errors._passwordConfirm.equalTo"
              text="Passwords do not match."
              textWrap="true"
            ></Label>
            ></StackLayout
          >
        </StackLayout>
      </StackLayout>

      <StackLayout *ngIf="stageValue === stages.Newsletter">
        <app-checkbox
          #newsletterInput
          title="Subscribe to Passit’s newsletter to get extra updates, tips, and offers"
          [control]="form.controls.signUpNewsletter"
        ></app-checkbox>

        <progress-indicator
          [inProgress]="hasSubmitStarted"
          inProgressText=""
          [completed]="hasSubmitFinished"
          completedText=""
        ></progress-indicator>

        <Label
          *ngIf="hasSubmitStarted"
          text="Passit is creating your account. This can take a little time."
          textWrap="true"
        ></Label>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</DockLayout>

<!-- <app-backup-code
  *ngIf="stageValue === stages.BackupCode"
  [code]="backupCode"
  (goToNext)="incrementStage.emit()"
></app-backup-code> -->

<confirm-email-container
  *ngIf="stageValue === stages.ConfirmEmail"
></confirm-email-container>

<StackLayout *ngIf="stageValue === stages.Verified" class="m-t-30" width="240">
  <Label
    class="m-t-30 m-b-20 text-center text-label"
    textWrap="true"
    text="You’re signed up and ready to start securing your passwords!"
  ></Label>
  <app-button width="150" text="Get started" (tap)="submit()"></app-button>
</StackLayout>
