@import "../../../styles/colors";

.container {
  margin-top: 20px;
  margin-bottom: -20px;
}

.group-pending-list-item {
  background-color: $color-buttermilk;

  &:hover {
    background-color: $color-buttermilk;
  }

  &:last-child {
    border-bottom: 0;
  }

  .secret__title {
    cursor: default;
  }
}
