<app-marketing-frame [isPopup]="isPopup">
  <div class="account-column__inner account-column__inner--right">
    <div class="account-column__right-heading">
      <h1 class="heading-medium">Log&nbsp;In</h1>
      <div *ngIf="linkText" class="account-column__link">
        <app-text-link
          caret="right"
          id="btn-signup"
          [link]="linkRoute"
          (click)="clickLink.emit()"
          >{{ linkText }}</app-text-link
        >
      </div>
    </div>
    <ng-content></ng-content>
  </div>
</app-marketing-frame>
